@using (Html.BeginForm("Parse", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file" id="file" />
    <input type="submit" class="btn btn-success" value="Parse"/>
}

<div class="bot-wrapper">
    <iframe id="bot" src='https://webchat.botframework.com/embed/EduBotAppId?s=FZ7MNxTI838.cwA.j20.FYlsyldUMtTMkrHg2iXDDuAPmDxgav_gs3FH11sq7Iw'></iframe>    
</div>
